<?xml version="1.0"?>

<configuration>
  <configSections>
    
  </configSections>

  <system.web.webPages.razor>
   
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>
 
    </httpHandlers>
    <pages
    </pages>
  </system.web>
  </system.webServer>
</configuration>
